# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Objectives:

<ul>
<li> Learning about Jupyter Notebook</li>
<li> Learning about Markdown cell</li>
<li> Lerning to implement arithmetic functions in jupyter</li>
</ul>

Some of the popular languages that Data Scientists use are:

<ol>
<li>R</li>
<li>Python</li>
<li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
<li>NumPy</li>
<li>Pandas</li>
<li>Sklearn</li>
</ol>

<table >
    <tr> <th>Data Science Tools</th></tr>
    <tr> <td> Jupyter Notebook</td>    </tr>
    <tr> <td> RStudio</td></tr>
    <tr> <td> Visual Studio</td></tr>
    
</table>

### Below are a few examples of evaluating arithmetic expressions in Python
                    or 
<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
print(4+2)
print(4*2)
print(4/2)
print(4//2)
print(4-2)

6
8
2.0
2
2

In [2]:
# This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

In [5]:
#  This will convert 200 minutes to hours by diving by 60

print(200/60,'hours')
print("or ",200//60," hours and", 200%60," minutes")

3.3333333333333335 hours
or  3  hours and 20  minutes

<h2>Author</h2>
Rishabh